<!DOCTYPE html>
<html lang="zh">
<head>
    <title>Tincat Site</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>

    <link href="../common/h5.css" rel="stylesheet"/>
    <script src="../common/vue.min.js"></script>
</head>

<body style="background-color: #f6f6f6;">
<div id="app">
    <div class="h5-actionbar">
        <img @click="history.back()" src="drawable/icon_back.svg"/>
        <div>Site</div>
    </div>

    <div style="padding-top: 50px;padding-bottom: 16px;">
        <div v-for="it in siteGroupArray">
            <div style="font-weight: bold;padding: 16px 0px 8px 16px;">{{it.title}}</div>
            <div style="background-color: #ffffff;border-radius: 24px;padding: 8px;">
                <div style="display: flex; flex-wrap: wrap;padding: 8px;">
                    <div @click="openSite(it1.url)" v-for="it1 in it.siteArray" style="width: 50%;padding: 8px;">
                        <div style="font-size:14px;background-color: #f6f6f6;text-align: left;padding: 8px 16px 8px 16px;color: #333333;border-radius: 4px;">{{it1.label}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    new Vue({
        el: "#app",

        data: function()
        {
            return {
                siteGroupArray: [{
                    title: "Video",
                    siteArray: [{
                        label: "Instagram",
                        url: "https://www.instagram.com"
                    }, {
                        label: "Facebook",
                        url: "https://www.facebook.com"
                    }, {
                        label: "Twitter",
                        url: "https://www.twitter.com"
                    }, {
                        label: "Vimeo",
                        url: "https://www.vimeo.com"
                    }, {
                        label: "DailyMotion",
                        url: "https://www.dailymotion.com"
                    }, {
                        label: "MetaCafe",
                        url: "https://www.metacafe.com"
                    }, {
                        label: "LiveLeak",
                        url: "https://www.liveleak.com"
                    }, {
                        label: "9GAG",
                        url: "https://9gag.com"
                    }, {
                        label: "Tiktok",
                        url: "https://www.tiktok.com/foryou"
                    }, {
                        label: "Twitch",
                        url: "https://www.twitch.tv"
                    }, {
                        label: "Bigo",
                        url: "https://www.bigo.tv"
                    }, {
                        label: "Periscope",
                        url: "https://www.periscope.tv"
                    }]
                }, {
                    title: "News",
                    siteArray: [
                        {
                            label: "BBC",
                            url: "https://www.bbc.com"
                        }, {
                            label: "CNN",
                            url: "https://www.cnn.com"
                        }, {
                            label: "Google News",
                            url: "https://news.google.com"
                        }, {
                            label: "Dailymail",
                            url: "https://www.dailymail.co.uk"
                        }, {
                            label: "Monitor",
                            url: "https://www.monitor.co.ug"
                        }
                    ]
                }, {
                    title: "Music",
                    siteArray: [
                        {
                            label: "SoundCloud",
                            url: "https://m.soundcloud.com"
                        }, {
                            label: "Spotify",
                            url: "https://open.spotify.com"
                        }, {
                            label: "Ultimate Guitar",
                            url: "https://www.ultimate-guitar.com"
                        }
                    ]
                }, {
                    title: "Books",
                    siteArray: [
                        {
                            label: "Wattpad",
                            url: "https://www.wattpad.com"
                        }, {
                            label: "Goodreads",
                            url: "https://www.goodreads.com"
                        }, {
                            label: "Google Books",
                            url: "https://books.google.com"
                        }, {
                            label: "ManyBooks",
                            url: "https://manybooks.net"
                        }, {
                            label: "BookRix",
                            url: "https://www.bookrix.com"
                        }
                    ]
                }, {
                    title: "Shopping",
                    siteArray: [
                        {
                            label: "Amazon",
                            url: "https://www.amazon.com"
                        }, {
                            label: "Jumia",
                            url: "https://www.jumia.com.ng"
                        }, {
                            label: "Aliexpress",
                            url: "https://m.aliexpress.com"
                        }
                    ]
                }, {
                    title: "Food",
                    siteArray: [
                        {
                            label: "Food Network",
                            url: "https://www.foodnetwork.com"
                        }, {
                            label: "Allrecipes",
                            url: "https://www.allrecipes.com"
                        }, {
                            label: "Delish",
                            url: "https://www.delish.com"
                        }, {
                            label: "Marmiton",
                            url: "https://www.marmiton.org"
                        }, {
                            label: "BBC Good Food",
                            url: "https://www.bbcgoodfood.com"
                        }, {
                            label: "Cookpad",
                            url: "https://cookpad.com"
                        }
                    ]
                }, {
                    title: "Fashion",
                    siteArray: [
                        {
                            label: "Cosmopolitan",
                            url: "https://www.cosmopolitan.com"
                        }, {
                            label: "Pull&Bear",
                            url: "https://www.pullandbear.com"
                        }, {
                            label: "Elle",
                            url: "https://www.elle.com"
                        }, {
                            label: "Vogue",
                            url: "http://www.vogue.com"
                        }, {
                            label: "Gucci",
                            url: "https://www.gucci.com"
                        }, {
                            label: "Dior",
                            url: "https://www.dior.com"
                        }, {
                            label: "Hermes",
                            url: "https://www.hermes.com"
                        }, {
                            label: "Louis Vuitton",
                            url: "https://www.louisvuitton.com"
                        }, {
                            label: "Marie Claire",
                            url: "https://www.marieclaire.com"
                        }
                    ]
                }, {
                    title: "Sports",
                    siteArray: [
                        {
                            label: "LiveScore",
                            url: "https://www.livescore.com"
                        }, {
                            label: "ESPN",
                            url: "https://www.espn.com"
                        }, {
                            label: "Goal",
                            url: "https://www.goal.com"
                        }, {
                            label: "Cricbuzz",
                            url: "https://www.cricbuzz.com"
                        }
                    ]
                },
                ]
            };
        },

        methods: {
            openSite: function(url)
            {
                window.open(url);
            }
        }
    });
</script>
</html>