/**
 * z-index设定:
 * toast | Snackbar = 10
 * dialog = 9
 * mask = 8
 * actionbar | footerbar = 2
 * other = 1
 */
html {
  width: 100%;
  height: 100%;
}
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  background-color: transparent;
  /* 统一box-sizing */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* ios禁止点击效果 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 字体 */
  font-family: "Roboto,HelveticaNeue,Arial,sans-serif";
  font-size: 15px;
  font-weight: normal;
}
body,
header,
footer,
section,
div,
p,
th,
td,
li,
span,
label,
textarea {
  line-height: 1.4;
}
body {
  background-color: #ffffff;
  user-select: none;
}
table {
  width: 100%;
  border-spacing: 0px;
}
td {
  text-align: left;
  vertical-align: middle;
}
button,
span,
label {
  word-break: keep-all;
  white-space: nowrap;
}
img {
  font-size: 0px;
  vertical-align: middle;
}
li {
  list-style: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  border: none #CCC !important;
}
textarea {
  -webkit-appearance: none;
}
a:link {
  color: #5781E7;
  text-decoration: none;
}
a:visited {
  color: #5781E7;
  text-decoration: none;
}
a:hover {
  color: #5781E7;
  text-decoration: none;
}
@keyframes maskFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes maskFadeOut {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
/**
 * 页面切换动画
 */
@keyframes anim-activity-enter-in {
  from {
    transform: translate3d(80%, 0, 0);
    opacity: 0.6;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes anim-activity-enter-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-5%, 0, 0);
  }
}
.ActivityIn-enter-active {
  animation: anim-activity-enter-in 0.3s ease-out;
  box-shadow: -1px 0px 5px #cccccc;
}
.ActivityOut-leave-active {
  animation: anim-activity-enter-out 0.3s ease-in;
}
/**
 * 下拉列表
 */
.android-select {
  width: 100%;
  background-color: #ffffff;
  height: 36px;
  border-radius: 4px;
  border: solid 1px #bbbbbb;
  padding-left: 4px;
}
/**
 * 文本输入
 */
.android-edittext {
  width: 100%;
  border: none;
  height: 40px;
  border-bottom: solid 1px #eeeeee;
}
.android-edittext-border {
  width: 100%;
  border: solid 1px #eeeeee;
  height: 40px;
  padding-left: 8px;
}
.android-textarea {
  width: 100%;
  padding: 8px;
  border: solid 1px #eeeeee;
  height: 100px;
}
/**
 * 弹窗遮罩
 */
.android-dialog-mask {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 8;
  background-color: #000000;
  opacity: 0.5;
  animation: maskFadeIn 0.2s forwards ease-in;
}
@keyframes android-dialog-bottom-anim-in {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/**
 * 底部弹窗
 */
.android-dialog-bottom {
  width: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9;
  background-color: transparent;
  animation: android-dialog-bottom-anim-in 0.3s forwards ease;
}
/**
 * 左边弹窗
 */
.android-dialog-left {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 9;
  background-color: transparent;
  animation: slideInLeft 0.2s forwards ease-in-out;
}
/**
 * 右边弹窗
 */
.android-dialog-right {
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 9;
  background-color: transparent;
  animation: slideInRight 0.2s forwards ease-in-out;
}
/**
 * 顶部弹窗
 */
.android-dialog-top {
  width: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 9;
  background-color: transparent;
  animation: slideInDown 0.2s forwards ease-in-out;
}
/**
 * 中间弹窗
 */
.android-dialog-center {
  z-index: 9;
  position: fixed;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: transparent;
  animation: bounceIn 0.15s forwards ease-in;
}
/**
 * Toast提示
 */
.android-toast {
  position: fixed;
  left: 28px;
  right: 28px;
  bottom: 50px;
  text-align: center;
  z-index: 10;
  animation: fadeIn 0.15s forwards ease-in;
}
.android-toast > div {
  display: inline-block;
  background-color: #777777;
  color: #ffffff;
  padding: 8px 14px 8px 14px;
  border-radius: 10000px;
  text-align: left;
}
/**
 * Snackbar提示
 */
.android-snackbar {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #111111;
  width: 100%;
  z-index: 10;
  padding: 14px;
  color: #ffffff;
  animation: slideInUp 0.15s none ease-in-out;
}
/**
 * Switch控件
 */
.android-switch {
  width: 44px;
  height: 20px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
  transition: background-color ease 0.4s;
}
.android-switch:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  transition: left 0.3s;
}
.android-switch:checked {
  border-color: #00A0F0;
  box-shadow: #00A0F0 0 0 0 16px inset;
  background-color: #00A0F0;
  transition: border-color 0.4s, background-color ease 0.4s;
}
.android-switch:checked:before {
  left: 24px;
  transition: left 0.3s;
}
/**
 * CheckBox控件
 */
.android-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  background-clip: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: -0.15px 0.6px 0 0;
  vertical-align: text-bottom;
  border-radius: 3px;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  background-color: #ffff f;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
}
.android-checkbox:checked {
  background-color: #1e88e5;
  border-color: #1e88e5;
}
.android-checkbox:checked:after {
  content: '';
  display: block;
  height: 4px;
  width: 7px;
  border: 0 solid #ffffff;
  border-width: 0 0 2px 2px;
  color: #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 5px;
  left: 5px;
}
/**
 * Radio控件
 */
.android-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  border: 1px solid #d7d7d7;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.android-radio:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #1e88e5;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.android-radio:checked:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
/**
 * 细线
 */
.android-line {
  position: relative;
}
.android-line::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  -webkit-transform: scaleY(0.35);
  transform: scaleY(0.35);
}
/**
 * 单行文本
 */
.android-singleline {
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
/**
 * 细边框
 */
.android-border {
  position: relative;
}
.android-border:before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  border: 1px solid #eeeeee;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/**
 * 点击高亮
 */
.android-item-selector {
  background-color: #ffffff;
  cursor: pointer;
}
.android-item-selector:active {
  background-color: #f6f6f6;
}
/**
 * PopMenu弹出式菜单
 */
.android-popmenu {
  position: fixed;
  z-index: 9;
  animation: zoomIn 0.1s forwards ease-in;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px #aaaaaa;
}
/**
 * 按钮
 */
.android-button {
  color: #ffffff;
  display: inline-block;
  border: none;
  border-radius: 2px;
  padding: 0px 8px 0px 8px;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
}
/**
 * 全圆角按钮
 */
.android-button-round {
  color: #ffffff;
  border: none;
  display: inline-block;
  border-radius: 1000px;
  padding: 0px 16px 0px 16px;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
}
/**
 * 圆形按钮
 */
.android-button-circular {
  border-radius: 1000px;
  display: inline-block;
  color: #ffffff;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.android-button-blue {
  background-color: #00A0F0;
}
.android-button-blue:active {
  background-color: #1976d2;
}
.android-button-blue:disabled {
  background-color: #90caf9;
}
.android-button-red {
  background-color: #e53935;
}
.android-button-red:active {
  background-color: #c62828;
}
.android-button-red:disabled {
  background-color: #ffcdd2;
}
.android-button-deepPink {
  background-color: #FE1683;
}
.android-button-deepPink:active {
  background-color: #CE1683;
}
.android-button-deepPink:disabled {
  background-color: #ffcdd2;
}
.android-button-green {
  background-color: #4caf50;
}
.android-button-green:active {
  background-color: #388e3c;
}
.android-button-green:disabled {
  background-color: #c8e6c9;
}
.android-button-yellow {
  background-color: #fdd835;
}
.android-button-yellow:active {
  background-color: #fbc02d;
}
.android-button-yellow:disabled {
  background-color: #ffee58;
}
.android-button-gray {
  background-color: #cacaca;
}
.android-button-gray:active {
  background-color: #9e9e9e;
}
.android-button-gray:disabled {
  background-color: #eeeeee;
}
.android-button-white {
  background-color: #ffffff;
  color: #333333;
  border: solid 1px #cccccc;
}
.android-button-white:active {
  background-color: #eeeeee;
}
.android-button-white:disabled {
  background-color: #ffffff;
  color: #cccccc;
  border: solid 1px #eeeeee;
}
.android-button-black {
  background-color: #444444;
}
.android-button-black:active {
  background-color: #000000;
}
.android-button-black:disabled {
  background-color: #9a9a9a;
}
.android-button-orange {
  background-color: #ffab40;
}
.android-button-orange:active {
  background-color: #ef6c00;
}
.android-button-orange:disabled {
  background-color: #9a9a9a;
}
.android-button-gold {
  background-color: #E8BE8C;
}
.android-button-gold:active {
  background-color: #ff6e40;
}
.android-button-gold:disabled {
  background-color: #fbe9e7;
}
/**
 * 基础弹窗
 */
@keyframes android-dialog-loading-anim {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.android-dialog-loading {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.android-dialog-loading > div:nth-child(1) {
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background-color: #000000;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.android-dialog-loading > div:nth-child(1) > div:nth-child(1) {
  width: 50px;
  height: 50px;
  animation: android-dialog-loading-anim infinite 0.75s linear;
  border: 2px solid #ffffff;
  border-top-color: transparent;
  border-radius: 100%;
}
.android-dialog-loading > div:nth-child(1) > div:nth-child(2) {
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  margin-top: 16px;
}
.android-dialog-confirm {
  width: 80%;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 1px 1px #888888;
  padding: 16px 20px 8px 20px;
}
.android-dialog-confirm > div:nth-child(1) {
  font-size: 17px;
  color: #000000;
  margin-bottom: 32px;
}
.android-dialog-confirm > div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.android-dialog-confirm > div:nth-child(2) > div {
  padding: 8px 16px 8px 16px;
  color: #333333;
  font-size: 15px;
}
.android-dialog-alert {
  width: 80%;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 1px 1px #888888;
  padding: 16px 20px 8px 20px;
}
.android-dialog-alert > div:nth-child(1) {
  font-size: 17px;
  color: #000000;
  margin-bottom: 32px;
}
.android-dialog-alert > div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.android-dialog-alert > div:nth-child(2) > div {
  padding: 8px 16px 8px 16px;
  color: #333333;
  font-size: 15px;
}
.android-dialog-input {
  width: 80%;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 1px 1px #888888;
  padding: 16px 20px 8px 20px;
}
.android-dialog-input > div:nth-child(1) {
  font-size: 17px;
  color: #000000;
  margin-bottom: 32px;
}
.android-dialog-input > div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.android-dialog-input > div:nth-child(2) > div {
  padding: 8px 16px 8px 16px;
  color: #333333;
  font-size: 15px;
}
.android-dialog-input input {
  width: 100%;
  border-bottom: solid 1px #dddddd;
  margin-top: 8px;
  color: #333333;
  padding-bottom: 10px;
}
.android-dialog-list {
  width: 80%;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 1px 1px #888888;
  padding: 16px 0px 0px 0px;
}
.android-dialog-list > div:nth-child(1) {
  font-size: 17px;
  color: #000000;
  padding-left: 16px;
  padding-bottom: 16px;
}
.android-dialog-list > div:nth-child(2) {
  max-height: 200px;
  overflow-y: auto;
}
.android-dialog-list > div:nth-child(2) > div {
  height: 48px;
  line-height: 48px;
  padding: 0px 16px 0px 16px;
}
.android-dialog-list > div:nth-child(3) > div {
  height: 48px;
  line-height: 48px;
  text-align: center;
  padding: 0px 16px 0px 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
