/**
 * z-index设定:
 * toast | Snackbar = 10
 * dialog = 9
 * mask = 8
 * actionbar | footerbar = 2
 * other = 1
 */
html {
    width: 100%;
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    background-color: transparent;

    /* 统一box-sizing */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    /* ios禁止点击效果 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    /* 字体 */
    font-family: "Roboto,HelveticaNeue,Arial,sans-serif";
    font-size: 15px;
    font-weight: normal;
}

body, header, footer, section, div, p, th, td, li, span, label, textarea {
    line-height: 1.4;
}

body {
    background-color: #ffffff;
    user-select: none;
}

table {
    width: 100%;
    border-spacing: 0px;
}

td {
    text-align: left;
    vertical-align: middle;
}

button, span, label {
    word-break: keep-all;
    white-space: nowrap;
}

img {
    font-size: 0px;
    vertical-align: middle;
}

li {
    list-style: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: none #CCC !important;
}

textarea {
    -webkit-appearance: none;
}

a:link {
    color: #5781E7;
    text-decoration: none;
}

a:visited {
    color: #5781E7;
    text-decoration: none;
}

a:hover {
    color: #5781E7;
    text-decoration: none;
}