<!DOCTYPE html>
<html lang="zh">
<head>
    <title>Tincat TV</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>

    <link rel="Shortcut Icon" href="drawable/icon.png" type="image/png"/>
    <link href="../common/h5.css" rel="stylesheet"/>
    <style>
        .app-tv-bottombar {
            position: fixed;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: #ffffff;
            z-index: 2;
            height: 50px;
            border-top: solid 1px #f6f6f6;
            display: flex;
        }

        .app-tv-bottombar > div {
            height: 100%;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .app-tv-bottombar > div > img {
            width: 20px;
            height: 20px;
        }

        .app-tv-bottombar > div > span {
            font-size: 10px;
            margin-top: 2px;
            font-weight: bold;
        }
    </style>

    <script src="libs/context.js"></script>
    <script src="../common/h5.js"></script>
    <script src="../common/tincat.js"></script>
    <script src="../common/vue.min.js"></script>
</head>

<body>
<div id="app">
    <div style="position: fixed; left: 0px; top: 0px; right: 0px;z-index: 2;background-color: #ffffff;">
        <div style="margin-bottom: -5px;">
            <video ref="video" controls="controls" controlslist="nodownload" preload="auto" autoplay="autoplay" style="width:100%;background-color: #000000;margin: 0px;padding: 0px;"/>
        </div>
        <div style="height: 44px;display: flex;background-color: #f6f6f6;overflow-x: auto;">
            <div @click="setCurrGroup(index)" v-for="it,index in groupArray" style="height: 100%;padding: 0px 16px 0px 16px;display: flex; align-items: center;">
                <div v-if="currGroupIndex===index" style="font-size: 14px;font-weight: bold;color: #00a0f0;">{{it.name}}</div>
                <div v-if="currGroupIndex!=index" style="font-size: 14px;font-weight: bold;">{{it.name}}</div>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 100px;" ref="list">
        <div v-for="it,index in channelArray" @click="play(index)" class="h5-selector" style="display: flex; align-items: center;height: 50px;padding: 0px 4px 0px 16px;">
            <div>
                <img src="drawable/channel.svg" style="height: 22px; width: 22px;"/>
            </div>
            <div class="h5-singleline" style="flex-grow: 1;padding: 0px 16px 0px 16px;font-size: 15px;">{{it.channelName}}</div>
            <div>
                <img @click.stop="more(index)" src="drawable/elipsis.svg" class="h5-selector" style="height: 44px; width: 44px;padding: 12px;transform:rotate(90deg);border-radius: 44px;"/>
            </div>
        </div>
    </div>

    <div style="display: flex; align-items: center;background-color: #f6f6f6;padding: 0px 16px 0px 16px;height: 50px;position: fixed;left: 0px; bottom: 50px; right: 0px;z-index: 2;">
        <img src="drawable/app.png" style="width: 26px; height: 26px; border-radius: 5px;"/>
        <div style="font-size: 13px;padding-left: 8px;color: #6a6a6a;">Tincat TV App is available on Google Play Store.</div>
    </div>
    <div class="app-tv-bottombar">
        <div class="h5-selector">
            <img src="drawable/icon_main_watch.svg" style="transform:rotate(180deg);"/>
            <span>Watch</span>
        </div>
        <div @click="discover()" class="h5-selector">
            <img src="drawable/icon_main_discover.svg"/>
            <span>Discover</span>
        </div>
        <div @click="getData()" class="h5-selector">
            <img src="drawable/refresh.svg"/>
            <span>Refresh</span>
        </div>
    </div>

    <img @click="add()" src="drawable/add.svg" class="h5-selector"
         style="position: fixed; right: 16px; bottom: 116px;width: 50px; height: 50px;box-shadow: 0px 0px 10px #dddddd;z-index: 3;border-radius: 100%;padding: 12px;"/>

    <input ref="filechooser" type="file" accept="audio/x-mpegurl" style="display: none;"/>

    <div id="dialog_tip" style="display: none;">
        <div style="background-color: #ffffff; border-radius: 16px;width: 80%;padding: 16px">
            <div style="font-weight: bold;">Friendly Reminder</div>
            <div style="padding: 16px 0px 16px 0px;">
                <div>Due to android webview http cross-domain security issues, m3u8 may not play properly. It is strongly recommended that get Tincat TV App.</div>
                <div style="margin-top: 16px;">Search "TincatTV" on Google Play Store to get Tincat TV App.</div>
            </div>
            <div style="text-align: right;margin-top: 16px;">
                <button @click="showTip('noRemind')" class="h5-button h5-button-blue" style="margin-right: 8px;">Don't Remind</button>
                <button @click="showTip('close')" class="h5-button h5-button-blue">Got It</button>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    new Vue({
        el: "#app",

        data: function()
        {
            return {
                video: null,
                groupArray: [],

                currGroupIndex: 0,
                channelArray: [],
                playCount: -1
            };
        },

        mounted: function()
        {
            this.video = this.$refs.video;
            var videoHeight = screen.width * 9 / 16;

            // video设置
            this.video.style.height = videoHeight + "px";
            this.video.oncontextmenu = function()
            {
                return false;
            };

            // 列表
            this.$refs.list.style.paddingTop = (videoHeight + 44) + "px";

            // 显示友情提示
            this.showTip("show");

            var that = this;
            tincat.user.session(function(user)
            {
                if(user && user.sid)
                {
                    that.getData();
                }
                else
                {
                    alert("please signin first");
                    history.back();
                }
            });
        },

        methods: {
            showTip: function(type)
            {
                switch(type)
                {
                    case "show":
                    {
                        if("true" !== localStorage.getItem("noShowTip"))
                        {
                            this.dialog = h5.dialog.create("#dialog_tip");
                            this.dialog.showCenter();
                        }
                        break;
                    }
                    case "close":
                    {
                        this.dialog.dismiss();
                        break;
                    }
                    case "noRemind":
                    {
                        localStorage.setItem("noShowTip", "true");
                        this.dialog.dismiss();
                        break;
                    }
                }
            },

            getData: function()
            {
                var that = this;
                Channel.getGroupArray(function(groupArray)
                {
                    that.groupArray = groupArray;
                    that.showChannelList();

                    tincat.system.toast("channel refresh");
                });
            },

            setCurrGroup: function(groupIndex)
            {
                this.currGroupIndex = groupIndex;
                this.showChannelList();
            },

            showChannelList: function()
            {
                if(this.groupArray.length > 0)
                {
                    this.channelArray = this.groupArray[this.currGroupIndex].channelArray;
                }
            },

            play: function(channelIndex)
            {
                if(this.channelArray.length <= channelIndex)
                {
                    return;
                }

                var that = this;
                var playFunc = function()
                {
                    var channel = that.channelArray[channelIndex];
                    console.log("播放" + channel.channelName + ", " + channel.url);
                    that.video.pause();
                    that.video.src = channel.url;
                    that.video.load();
                    that.video.play();
                };

                this.playCount++;
                if(this.playCount >= 3)
                {
                    this.playCount = 0;

                    console.log("弹广告");
                    tincat.ad.interstitial(function()
                    {
                        console.log("广告关闭了");
                        playFunc();
                    });
                    return;
                }

                playFunc();
            },

            more: function(index)
            {
                var that = this;
                var channel = this.channelArray[index];

                var dialog = h5.dialog.list();
                dialog.addItem("Cast", function()
                {
                    tincat.system.cast(channel.url);
                });
                dialog.addItem("Download", function()
                {
                    tincat.system.download(channel.url, "video.mp4");
                });
                dialog.addItem("Share", function()
                {
                    tincat.system.share("Share Channel", channel.url);
                });
                dialog.addItem("Copy Url", function(index)
                {
                    tincat.system.copy(channel.url);
                    tincat.system.toast("Copy Success");
                });
                dialog.addItem("Delete", function()
                {
                    if(confirm("Delete this channel?"))
                    {
                        Channel.deleteChannel(that.currGroupIndex, index, function()
                        {
                            that.getData();
                        });
                    }
                });
                dialog.show();
            },

            discover: function()
            {
                location.href = "country.html";
            },

            add: function()
            {
                var that = this;

                var dialog = h5.dialog.list();
                dialog.addItem("Add Group", function()
                {
                    Channel.addGroup(function()
                    {
                        that.getData();
                    });
                });
                dialog.addItem("Add Local M3U", function()
                {
                    that.$refs.filechooser.removeEventListener("change", that.filechooserListener);
                    that.filechooserListener = function(e)
                    {
                        var file = e.target.files[0];
                        if(file)
                        {
                            that.$refs.filechooser.value = "";

                            var reader = new FileReader();
                            reader.onload = function()
                            {
                                var result = reader.result;
                                h5.storage.set("temp", result, function()
                                {
                                    location.href = "channels.html";
                                });
                            };
                            reader.readAsText(file, "UTF-8");
                        }
                    };
                    that.$refs.filechooser.addEventListener("change", that.filechooserListener);
                    that.$refs.filechooser.click();
                });
                dialog.addItem("Add M3U Channel", function()
                {
                    location.href = "channel_add.html";
                });
                dialog.addItem("Delete Group", function()
                {
                    if(confirm("Delete this group?"))
                    {
                        Channel.deleteGroup(that.currGroupIndex, function()
                        {
                            that.currGroupIndex = 0;
                            that.getData();
                        });
                    }
                });
                dialog.show();
            }
        }
    });
</script>
</html>