<!DOCTYPE html>
<html lang="zh">

<head>
    <title>Tincat Guide</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="stylesheet" href="style/style.css"/>
    <script src="libs/vue.min.js"></script>
</head>

<body>
<div id="app">
    <div style="line-height: 48px; text-align: center; font-weight: bold;font-size: 17px;">Tincat Browser Guide</div>
    <div>
        <div v-for="it in categoryArray">
            <div style="font-weight: bold;padding: 8px 0px 0px 16px;">{{it.title}}</div>
            <div style="display: flex; flex-wrap: wrap;padding: 0px 8px 8px 8px;">
                <div @click="openSite(it1.url)" v-for="it1 in it.itemArray" style="width: 33.3333%;padding: 8px;">
                    <div style="font-size: 12px;background-color: #f6f6f6;text-align: center;padding: 8px;color: #333333;">{{it1.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    new Vue({
        el: "#app",

        data: function()
        {
            return {
                categoryArray: [
                    {
                        title: "Social",
                        itemArray: [{
                            title: "Youtube",
                            url: "https://www.youtube.com"
                        }, {
                            title: "Instagram",
                            url: "https://www.instagram.com"
                        }, {
                            title: "Facebook",
                            url: "https://www.facebook.com"
                        }, {
                            title: "Twitter",
                            url: "https://www.twitter.com"
                        }, {
                            title: "DailyMotion",
                            url: "https://www.dailymotion.com"
                        }, {
                            title: "MetaCafe",
                            url: "https://www.metacafe.com"
                        }, {
                            title: "LiveLeak",
                            url: "https://www.liveleak.com"
                        }, {
                            title: "哔哩哔哩",
                            url: "https://www.bilibili.com"
                        }, {
                            title: "梨视频",
                            url: "https://www.pearvideo.com/?from=intro"
                        }, {
                            title: "西瓜视频",
                            url: "https://m.ixigua.com"
                        }, {
                            title: "好看视频",
                            url: "https://haokan.baidu.com"
                        }]
                    }, {
                        title: "Sexy",
                        itemArray: [{
                            title: "Pornhub",
                            url: "https://www.pornhub.com"
                        }, {
                            title: "XVideos",
                            url: "https://www.xvideos.com"
                        }, {
                            title: "XNXX",
                            url: "https://www.xnxx.com"
                        }, {
                            title: "SpankBang",
                            url: "https://www.spankbang.com"
                        }, {
                            title: "xHamster",
                            url: "https://www.xhamster.com"
                        }]
                    }, {
                        title: "Live Stream",
                        itemArray: [{
                            title: "Twitch.tv",
                            url: "http://www.twitch.tv"
                        }, {
                            title: "Bigo.tv",
                            url: "http://www.bigo.tv"
                        }, {
                            title: "斗鱼直播",
                            url: "https://m.douyu.com"
                        }, {
                            title: "虎牙直播",
                            url: "https://m.huya.com"
                        }, {
                            title: "哔哩哔哩直播",
                            url: "https://live.bilibili.com/h5"
                        }, {
                            title: "花椒直播",
                            url: "https://h.huajiao.com/l/feedlist"
                        }, {
                            title: "YY直播",
                            url: "https://wap.yy.com"
                        }]
                    },
                ]
            };
        },

        methods: {
            openSite: function(url)
            {
                location.href = url;
            }
        }
    });
</script>

</html>