<!DOCTYPE html>
<html lang="zh">
<head>
    <title>Tincat Game</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>

    <link href="../common/h5.css" rel="stylesheet"/>
    <script src="../common/vue.min.js"></script>
</head>

<body>
<div id="app">
    <div class="h5-actionbar">
        <img @click="history.back()" src="drawable/icon_back.svg"/>
        <div>Game</div>
    </div>

    <div style="padding-top: 50px;padding-bottom: 16px;">
        <div style="padding: 8px 16px 8px 16px;background-color: #f6f6f6;font-size: 14px;">You can save game as miniapp for a better experience.</div>

        <div v-for="it in gameArray">
            <div style="padding: 16px;font-weight: bold;">{{it.title}}</div>
            <div style="display: flex; flex-wrap: wrap;">
                <div @click="openSite(it.url)" v-for="it in it.itemArray" style="width: 25%;text-align: center;padding: 8px;">
                    <img :src="it.icon" style="width: 48px; height: 48px;border-radius: 8px;"/>
                    <div style="font-size: 14px;margin-top: 8px;">{{it.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    new Vue({
        el: "#app",

        data: function()
        {
            return {
                gameArray: [
                    {
                        "title": "Trending Games",
                        "itemArray": [
                            {
                                "title": "X-Parkour",
                                "icon": "https://res.vigoo.com/assets/stickrunner/fADd6H1589963876_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=stickrunner"
                            },
                            {
                                "title": "Shoot 'em Up",
                                "icon": "https://res.vigoo.com/assets/shootemup/c8NsXy1589259152_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=shootemup"
                            },
                            {
                                "title": "Super Driver",
                                "icon": "https://res.vigoo.com/assets/superdriver/Cd7nJx1589963922_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=superdriver"
                            },
                            {
                                "title": "Let's Cut",
                                "icon": "https://res.vigoo.com/assets/letscut/0c4yRw1589963738_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=letscut"
                            },
                            {
                                "title": "Assassinator",
                                "icon": "https://res.vigoo.com/assets/assassinator/esMuoB1589257095_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=assassinator"
                            },
                            {
                                "title": "Puzzle Bobble",
                                "icon": "https://res.vigoo.com/assets/puzzlebobble/HwxMmf1589971854_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=puzzlebobble"
                            }
                        ]
                    },
                    {
                        "title": "All Games",
                        "itemArray": [
                            {
                                "title": "Snowman Push Ball",
                                "icon": "https://res.vigoo.com/assets/snowmanpushball/KPb8N61589527972_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=snowmanpushball"
                            },
                            {
                                "title": "Super Merge",
                                "icon": "https://res.vigoo.com/assets/supermerge/hx9nE81591090470_jpeg.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=supermerge"
                            },
                            {
                                "title": "Kill That",
                                "icon": "https://res.vigoo.com/assets/killthat/vMuAfo1590722914_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=killthat"
                            },
                            {
                                "title": "Kill Demons",
                                "icon": "https://res.vigoo.com/assets/killdemons/r7xuXp1589526409_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=killdemons"
                            },
                            {
                                "title": "Galaga Assault",
                                "icon": "https://res.vigoo.com/assets/galagaassault/feRQ5Z1589963704_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=galagaassault"
                            },
                            {
                                "title": "Sand Ball",
                                "icon": "https://res.vigoo.com/assets/sandball/ywHNyA1589259039_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=sandball"
                            },
                            {
                                "title": "Taxistory",
                                "icon": "https://res.vigoo.com/assets/taxistory/5RDvmY1589259427_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=taxistory"
                            },
                            {
                                "title": "Fly Cutter",
                                "icon": "https://res.vigoo.com/assets/flycutter/Sw9YaY1589257626_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=flycutter"
                            },
                            {
                                "title": "Roll The Ball Online",
                                "icon": "https://res.vigoo.com/assets/rolltheballonline/g8UfpT1589258936_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=rolltheballonline"
                            },
                            {
                                "title": "Crossing Ball",
                                "icon": "https://res.vigoo.com/assets/crossingball/KY0IH81589257297_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=crossingball"
                            },
                            {
                                "title": "Rope Rescue Team",
                                "icon": "https://res.vigoo.com/assets/roperescueteam/g6Zpg71589970451_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=roperescueteam"
                            },
                            {
                                "title": "Pipe",
                                "icon": "https://res.vigoo.com/assets/pipe/pfeOZi1589258459_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=pipe"
                            },
                            {
                                "title": "Park Around",
                                "icon": "https://res.vigoo.com/assets/parkaround/38L7zp1589258254_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=parkaround"
                            },
                            {
                                "title": "Flashy Ball",
                                "icon": "https://res.vigoo.com/assets/flashyball/LsF1Vk1589257544_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=flashyball"
                            },
                            {
                                "title": "Spades",
                                "icon": "https://res.vigoo.com/assets/spades/2PqN0M1589259211_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=spades"
                            },
                            {
                                "title": "Clash Of Warlord Orcs",
                                "icon": "https://res.vigoo.com/assets/clashofwarlordorcs/z3T7v01589257251_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=clashofwarlordorcs"
                            },
                            {
                                "title": "Hole In One",
                                "icon": "https://res.vigoo.com/assets/holeinone/fF45Xx1589258020_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=holeinone"
                            },
                            {
                                "title": "Funny Ball",
                                "icon": "https://res.vigoo.com/assets/funnyball/IRDZuw1589257680_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=funnyball"
                            },
                            {
                                "title": "Gater",
                                "icon": "https://res.vigoo.com/assets/gater/dtrUd61589257941_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=gater"
                            },
                            {
                                "title": "Pull The Pin",
                                "icon": "https://res.vigoo.com/assets/pullthepin/2tL6px1589258793_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=pullthepin"
                            },
                            {
                                "title": "Giant Hanster Run",
                                "icon": "https://res.vigoo.com/assets/gianthamsterrun/O4XNKw1589257964_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=gianthamsterrun"
                            },
                            {
                                "title": "Perfect Line",
                                "icon": "https://res.vigoo.com/assets/perfectline/Fh7y3F1589258325_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=perfectline"
                            },
                            {
                                "title": "Crazy Push",
                                "icon": "https://res.vigoo.com/assets/crazypush/4rUBfy1589257278_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=crazypush"
                            },
                            {
                                "title": "Detective Online",
                                "icon": "https://res.vigoo.com/assets/detectiveonline/MGUETU1589257359_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=detectiveonline"
                            },
                            {
                                "title": "Pro Cricket Champion",
                                "icon": "https://res.vigoo.com/assets/procricketchampion/qy7iC31589258756_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=procricketchampion"
                            },
                            {
                                "title": "Monster Exploder",
                                "icon": "https://res.vigoo.com/assets/dabaoguaishou/gTZ8Oh1589257338_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=dabaoguaishou"
                            },
                            {
                                "title": "Maze Twist",
                                "icon": "https://res.vigoo.com/assets/mazetwist/kBT02H1589258107_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=mazetwist"
                            },
                            {
                                "title": "Coloured Drawing",
                                "icon": "https://res.vigoo.com/assets/paintrun/J2URIz1589258227_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=paintrun"
                            },
                            {
                                "title": "Popodino",
                                "icon": "https://res.vigoo.com/assets/popodino/waAESJ1589258718_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=popodino"
                            },
                            {
                                "title": "Zuma Joy",
                                "icon": "https://res.vigoo.com/assets/zumajoy/yixpVd1589259569_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=zumajoy"
                            },
                            {
                                "title": "Fruit Gunner",
                                "icon": "https://res.vigoo.com/assets/fruitgunner/1i3R8h1589257654_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=fruitgunner"
                            },
                            {
                                "title": "Fancy Match",
                                "icon": "https://res.vigoo.com/assets/fancymatch/a7pfgv1589257435_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=fancymatch"
                            },
                            {
                                "title": "Pineapple Pen Online",
                                "icon": "https://res.vigoo.com/assets/pineapplepenonline/vJmfpt1589258403_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=pineapplepenonline"
                            },
                            {
                                "title": "Tricky Road",
                                "icon": "https://res.vigoo.com/assets/trickyroad/mqQRmp1589259493_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=trickyroad"
                            },
                            {
                                "title": "One Line",
                                "icon": "https://res.vigoo.com/assets/oneline/BVKdoe1589258189_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=oneline"
                            },
                            {
                                "title": "Rotating Fly Bar",
                                "icon": "https://res.vigoo.com/assets/roatatingflybar/ATTOhr1589258889_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=roatatingflybar"
                            },
                            {
                                "title": "Gluttonous&nbsp;Snake",
                                "icon": "https://res.vigoo.com/assets/gluttonoussnake/6FAR6h1589257991_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=gluttonoussnake"
                            },
                            {
                                "title": "Don't Miss",
                                "icon": "https://res.vigoo.com/assets/dontmiss/f19z8B1589257410_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=dontmiss"
                            },
                            {
                                "title": "Underground Escape",
                                "icon": "https://res.vigoo.com/assets/undergroundescape/eB1sJf1589259516_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=undergroundescape"
                            },
                            {
                                "title": "Flow Free Online",
                                "icon": "https://res.vigoo.com/assets/flowfreeonline/F20yjk1589257597_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=flowfreeonline"
                            },
                            {
                                "title": "Flappy Dunk Online",
                                "icon": "https://res.vigoo.com/assets/flappydunkonline/ILoLKA1589188866_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=flappydunkonline"
                            },
                            {
                                "title": "Merge Defence",
                                "icon": "https://res.vigoo.com/assets/mergedefence/9iMIXU1589258132_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=mergedefence"
                            },
                            {
                                "title": "Minesweeper",
                                "icon": "https://res.vigoo.com/assets/minesweeper/CjIKDF1589258163_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=minesweeper"
                            },
                            {
                                "title": "Cave Man",
                                "icon": "https://res.vigoo.com/assets/caveman/DjiEdc1589257230_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=caveman"
                            },
                            {
                                "title": "Reflector",
                                "icon": "https://res.vigoo.com/assets/reflector/7AOtNI1589258859_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=reflector"
                            },
                            {
                                "title": "Ships Monsters",
                                "icon": "https://res.vigoo.com/assets/shipsmonsters/5y4KD61589259073_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=shipsmonsters"
                            },
                            {
                                "title": "Fingers Slash",
                                "icon": "https://res.vigoo.com/assets/fingersslash/0atpL61589257482_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=fingersslash"
                            },
                            {
                                "title": "Pipe Combat",
                                "icon": "https://res.vigoo.com/assets/pipecombat/T2mkqw1589258683_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=pipecombat"
                            },
                            {
                                "title": "Speedy Bubbles",
                                "icon": "https://res.vigoo.com/assets/speedybubbles/TQJmLz1589259278_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=speedybubbles"
                            },
                            {
                                "title": "Break Liner Online",
                                "icon": "https://res.vigoo.com/assets/breaklineronline/jpYpEf1589257158_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=breaklineronline"
                            },
                            {
                                "title": "Bricked",
                                "icon": "https://res.vigoo.com/assets/bricked/C3r3i01589257180_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=bricked"
                            },
                            {
                                "title": "Star Cube",
                                "icon": "https://res.vigoo.com/assets/starcube/2GeE7f1589259302_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=starcube"
                            },
                            {
                                "title": "Sudoku",
                                "icon": "https://res.vigoo.com/assets/sudoku/bsUFF91589259381_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=sudoku"
                            },
                            {
                                "title": "Knots Landing",
                                "icon": "https://res.vigoo.com/assets/knotslanding/FKbrq91589258060_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=knotslanding"
                            },
                            {
                                "title": "Cube Jump",
                                "icon": "https://res.vigoo.com/assets/cubejump/6xAcCL1589266554_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=cubejump"
                            },
                            {
                                "title": "Cards Fairyland",
                                "icon": "https://res.vigoo.com/assets/cardsfairyland/X5FuvL1589257203_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=cardsfairyland"
                            },
                            {
                                "title": "Let's Cut",
                                "icon": "https://res.vigoo.com/assets/letscut/0c4yRw1589963738_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=letscut"
                            },
                            {
                                "title": "Super Driver",
                                "icon": "https://res.vigoo.com/assets/superdriver/Cd7nJx1589963922_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=superdriver"
                            },
                            {
                                "title": "Puzzle Bobble",
                                "icon": "https://res.vigoo.com/assets/puzzlebobble/HwxMmf1589971854_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=puzzlebobble"
                            },
                            {
                                "title": "Assassinator",
                                "icon": "https://res.vigoo.com/assets/assassinator/esMuoB1589257095_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=assassinator"
                            },
                            {
                                "title": "X-Parkour",
                                "icon": "https://res.vigoo.com/assets/stickrunner/fADd6H1589963876_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=stickrunner"
                            },
                            {
                                "title": "Shoot 'em Up",
                                "icon": "https://res.vigoo.com/assets/shootemup/c8NsXy1589259152_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=shootemup"
                            },
                            {
                                "title": "Parkour For All",
                                "icon": "https://res.vigoo.com/assets/parkourforall/47ZENS1589971702_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=parkourforall"
                            },
                            {
                                "title": "Boat Hitting Out",
                                "icon": "https://res.vigoo.com/assets/boathittingout/Bq2a3t1589963670_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=boathittingout"
                            },
                            {
                                "title": "Track Hurricane",
                                "icon": "https://res.vigoo.com/assets/trackhurricane/mux0Vq1589259470_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=trackhurricane"
                            },
                            {
                                "title": "Dinosaur Sniping",
                                "icon": "https://res.vigoo.com/assets/dinosaursniping/9s5okv1589260887_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=dinosaursniping"
                            },
                            {
                                "title": "Street Gun Fight",
                                "icon": "https://res.vigoo.com/assets/streetgunfight/qr4PMn1589971883_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=streetgunfight"
                            },
                            {
                                "title": "Aircraft Magnate",
                                "icon": "https://res.vigoo.com/assets/aircraftmagnate/kYMMov1589256964_png.webp",
                                "url": "https://games58.com/game.html?channel=vigoo&appid=aircraftmagnate"
                            }
                        ]
                    }
                ]
            };
        },

        methods: {
            openSite: function(url)
            {
                window.open(url);
            }
        }
    });
</script>
</html>